.card-area-conrainer {
  height: 43rem;
  width: 25rem;
  background-color: #f48b29;
  margin: 0 auto 0 auto;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-areas: "top" "bottom";
  overflow: hidden;
}

.language-title {
  grid-area: top;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}

.card-container {
  grid-area: bottom;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
